<!DOCTYPE html>
<html lang="fr">

<script>
function openForm() {
  document.getElementById("popup1").style.display = "block";
}

function closeForm() {
  document.getElementById("popup1").style.display = "none";
}
</script>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table{
  border-collapse: collapse;
}
tr, td{
  border: 1px solid black;
  padding: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
</style>

<head>
	<meta charset="utf-8">
	<title>GSB - Frais</title>
    <h1>Visiteur - Renseigner fiche frais</h1>
    <h2>Ajouter un frais hors forfait</h2>
</head>
	
	<body>
		<a href="{{ path('app_renseigner') }}">Renseigner fiche frais</a>
        <a href="{{ path('app_consulter') }}">Consulter fiche frais</a>
		<a href="{{ path('app_espace_visiteur') }}">Acceuil</a>
		<a class="button" onclick="openForm()" href="#popup1">Déconnexion</a>
		<div id="popup1" class="overlay">
					  <div class="popup">
					  <h2>Confirmation</h2>
					  <a class="close" href="#">&times;</a>
					  <div class="content">
					  Etes-vous certains de vouloir fermer la session ?
					  </div>
    				  <br/>
    				  <a class="button" href="{{ path('app_visiteur_deconnexion') }}">Oui</a>
				</div>
			</div>
		<br/>
		<form action="{{ path('app_frais_hors_forfait') }}" method="POST">
        <br/>
        {% if erreur is defined and erreur != null %}
		    <h5> {{ erreur }} </h5>
		{% endif %}
        <br/>
        <label>Veuillez choisir un libelle :</label>
        <br/>
			<select name="Libelle" id="libelle">
        	<option value="Repas avac un spécialiste lors d'une animation">Repas avac un specialiste lors d'une animation</option>
            <option value="Achat de fournitures">Achat de fournitures</option>
            <option value="Reservation de salle pour conférence">Reservation de salle pour conférence</option>
			</select>
        <br/>
        <br/>
        <br/>
        <label>Veuillez choisir une date d'engagement :</label>
        <br/>
        <input type="date" id="Date" name="date" onkeydown="return false">
        <br/>
        <br/>
        <br/>
        <label>Veuillez choisir un montant :</label>
        <br/>
        <input type="number" id="Montant" step="0.01" name="montant" max="9999999999.99" required>
        <br/>
        <br/>
        <br/>
        <input type="submit" value="Valider" />
        </form>
	</body>
	
</html>